node_modules

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Local data exports
BHIC Data Extraction.csv
BHIC_Order_til11_12 - Sheet1.csv

# Local Netlify folder
.netlify

